---
layout: default
title: Spettacoli
---

<div class="mx-auto w-full max-w-lg">
  <h1 class="text-2xl text-center font-bold mb-6"><%= resource.data.title %></h1>
  <div class="grid gap-4">
    <%- collections.spettacoli.resources.select { |resource| Date.parse(resource.data.al) >= Date.today }
                                        .sort { |a, b| Date.parse(a.data.dal) <=> Date.parse(b.data.dal) }
                                        .each do |resource| %>
      <%= render "card", resource: resource %>
    <% end %>
  </div>
</div>
